.coin-container {
  display: flex;
  flex-direction: column;
}

.coin-container > span {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .coin-info {
    display: flex;
    gap: 2rem;
    padding: 1% 2%;
  }

  .coin-market-cap {
    display: none;
  }
}

 .coin-name-value, .coin-price-value{
  margin-left: 100px;
}
.coin-market-cap-value{
  margin-left: 52px;
}